In [1]:
pip install geopy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopy in /usr/local/lib/python3.7/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.7/dist-packages (from geopy) (1.52)

In [2]:
import numpy as np
import warnings
import pandas as pd
warnings.filterwarnings('ignore')

from geopy.geocoders import Nominatim 

import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.cluster import KMeans

In [3]:
df = pd.read_csv('/content/main.csv', sep=',')

In [4]:
df.head()

    location
0   Srinagar
1     Rajkot
2       Pune
3  Bengaluru
4  Hyderabad

In [5]:
#geopy in action
country = 'India'
city_names = df['location']

longitude =[]
latitude =[]
geolocator = Nominatim(user_agent="Trips")

In [6]:
for c in city_names.values:
    location = geolocator.geocode(c+','+ country)
    latitude.append(location.latitude)
    longitude.append(location.longitude)

In [7]:
df['Latitude']=latitude
df['Longitude']=longitude

In [8]:
l2=df.iloc[:,-1:-3:-1]

In [9]:
l2

    Longitude   Latitude
0   74.820444  34.074744
1   70.802838  22.305326
2   73.854454  18.521428
3   77.590082  12.976794
4   78.474061  17.360589
5   81.373285  21.212068
6   80.934600  26.838100
7   86.974659  23.687130
8   86.202958  22.801519
9   91.282382  23.831238
10  73.790236  20.011247
11  75.851601  30.909016
12  77.768229  29.000653
13  83.007629  25.335649
14  80.321759  26.460914
15  78.009816  27.175255
16  78.157363  26.203725
17  76.267414   9.931308
18  75.373797  11.876384
19  80.270186  13.083694
20  78.114098   9.926115
21  70.802838  22.305326
22  73.854454  18.521428
23  77.590082  12.976794
24  78.474061  17.360589
25  81.373285  21.212068
26  80.934600  26.838100
27  86.974659  23.687130
28  86.202958  22.801519
29  80.270186  13.083694

In [13]:
kmeans=KMeans(5)
kmeans.fit(l2)

identified_cluster=kmeans.fit_predict(l2)
identified_cluster=list(identified_cluster)

In [15]:
df['loc_clusters']=identified_cluster

In [31]:
input_city = input("Enter a city name: ")
cluster = df.loc[df['location'] == input_city, 'loc_clusters']
cluster = cluster.iloc[0]
cluster
cities = df.loc[df['loc_clusters'] == cluster, 'location']
cities
for c in range(len(cities)):
    if cities.iloc[c] == input_city:
        continue
    else:
        print(cities.iloc[c])

Enter a city name: Varanasi
Asansol
Jamshedpur
Agartala
Asansol
Jamshedpur

In [32]:
input_city = input("Enter a city name: ")
cluster = df.loc[df['location'] == input_city, 'loc_clusters']
cluster = cluster.iloc[0]
cluster
cities = df.loc[df['loc_clusters'] == cluster, 'location']
cities
for c in range(len(cities)):
    if cities.iloc[c] == input_city:
        continue
    else:
        print(cities.iloc[c])

Enter a city name: Bengaluru
Kochi
Kannur
Chennai
Madurai
Chennai